* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: white;
}
html,
body {
    height: 100vh;
    width: 100vw;
}
body{
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

}
.box{
  height: 400px;
  width: 400px;
  background-color: rgb(103, 231, 24);
  border-radius: 10px;
  border: 5px solid #fff;
}
button{
  padding: 10px 20px;
  background-color: crimson;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 32px;
  cursor: pointer;
}
button:active{
  transform: scale(0.95);
}