*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
  width: 100%;
  height: 100%;
}
body{
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card{
  height: 400px;
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
}
.image-card{
  height: 50%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: top;
}
h1{
  margin: 10px 0;
  font-size: 30px;
  text-align: center;
}

.card h5{
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
  color: palevioletred;
}
.card .btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.card button{
  font-weight: 700;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.card #btn-card{
  background-color: cadetblue;
  color: #fff;
  
}