* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;

}
html,
body {
    height: 100vh;
    width: 100vw;

}
body{
  background-color: #111;
  overflow: hidden;
}
main{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
button{
  font-size: 20px;
  padding: 15px 25px ;
  background-color: crimson;
  border: 3px solid #fff;
  cursor: pointer;
  font-weight: 600;
  z-index: 9;
}
button:active{
  transform: scale(0.95);
}
h1{
  white-space: no-wrap;
}