* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Bitcount Single", system-ui;
    font-optical-sizing: auto;


}
html,
body {
    height: 100vh;
    width: 100vw;
}
body{
  background-color: #111;
}
main{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
h1{
  font-size: 100px;
  font-weight: 400;
  background-color: #2b28ee;
  padding: 30px;
}
button{
  background-color: crimson;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 32px;

}
button:active{
  transform: scale(0.95);
}